@mixin mobile {
    @media screen and (max-width : 767px) {
        @content;   
    }
}
/*reset*/
ul {list-style: none; padding: 0; margin: 0;}
a{text-decoration: none; color:#000;}
a:hover{text-decoration: underline;}
/*common*/
.blind {position:absolute; left:1px; top:1px; margin:-1px; overflow: hidden; clip: rect(0,0,0,0);}

/*fc-color*/
.fc-white {color:#fff;}
.fc-gray {color:#ccc;}
.fc-black {color:#000;}
.fc-red {color:#f00;}

/*margin*/
.ml10 {margin-left: 10px;}

.btn{background:#222; color:#fff; padding:10px 12px; cursor: pointer;}
.header {border-bottom: 1px solid #222;}

.fl-center {display: flex; justify-content: center;}

.disabled {color:#ddd; cursor: pointer;}

.container {
    padding: 10px 20px 20px;
    border:1px solid #555;
    .api-example-list {
        ul {
            li {
                border-bottom: 1px solid #ccc;
                a {
                    display: block;
                    padding: 10px 0;
                    &:hover {
                        background:#333;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .form-wrap {
        h5 {}
        .search-form {
            display: flex;
            align-items: center;
            .input-search {
                width: 30%;
                height: 36px;
                @include mobile {
                    width: 70%;
                }
            }
            .btn-search {
                margin-left: 10px;
                width: 100%;
                max-width: 56px;
            }
            .btn-reset {
                width: 100%;
                max-width: 70px;
            }
        }
    }

    .result-wrap {
        //margin-top: 16px;
        margin-top: 350px;
        .result-list {
            ul {
                margin: 0;
                padding: 0;
                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 4px;
                    border-bottom: 1px solid #ddd;
                    .thumbs {
                        margin-right: 20px;
                        img {
                            width: 120px;
                            height: 174px;
                            border: 1px solid #ccc;
                        }
                    }
                    .text-wrap {
                        .info {
                            .info-head {
                                display: flex;
                                align-items: center;
                                p {
                                    margin-left: 10px;
                                }
                                .price {
                                    span {
                                        text-decoration: line-through;
                                        margin-right: 6px;
                                    }
                                }
                            }
                            .publisher {
                                position: relative;
                                padding-left: 12px;
                                &::before {
                                    content: '';
                                    width: 1px;
                                    height: 13px;
                                    background: #acacac;
                                    position: absolute;
                                    top:50%;
                                    left:6px;
                                    transform: translateY(-50%);
                                }
                            }   
                        }
                    }
                }
            }
        }
    }

    .pagination {
        display: none;
        justify-content: center;
        .arrow-wrap {
            display: flex;
            .paging {
                display: flex;
                li {
                    margin: 0 10px;
                }
            }            
        }
    }

    //chapte 2 .map
    .map-wrap {
        margin: 10px 0;
        display: flex;
        
        #map {
            width: 100%;
            height: 400px;
        }
    }
    .map-search {
        .search-form {
            display: flex;
            align-items: center;
            input {
                height: 36px;
            }
        }
    }

    .footer {
        margin-top: 40px;
        position: relative;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        .btn-wrap {
            .btn {
                margin: 0 5px;
                font-size: 14px;
            }
        }
    }
}
