/*reset*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

/*common*/
.blind {
  position: absolute;
  left: 1px;
  top: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/*fc-color*/
.fc-white {
  color: #fff;
}

.fc-gray {
  color: #ccc;
}

.fc-black {
  color: #000;
}

.fc-red {
  color: #f00;
}

/*margin*/
.ml10 {
  margin-left: 10px;
}

.btn {
  background: #222;
  color: #fff;
  padding: 10px 12px;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #222;
}

.fl-center {
  display: flex;
  justify-content: center;
}

.disabled {
  color: #ddd;
  cursor: pointer;
}

.container {
  padding: 10px 20px 20px;
  border: 1px solid #555;
}
.container .api-example-list ul li {
  border-bottom: 1px solid #ccc;
}
.container .api-example-list ul li a {
  display: block;
  padding: 10px 0;
}
.container .api-example-list ul li a:hover {
  background: #333;
  color: #fff;
  text-decoration: none;
}
.container .form-wrap .search-form {
  display: flex;
  align-items: center;
}
.container .form-wrap .search-form .input-search {
  width: 30%;
  height: 36px;
}
@media screen and (max-width: 767px) {
  .container .form-wrap .search-form .input-search {
    width: 70%;
  }
}
.container .form-wrap .search-form .btn-search {
  margin-left: 10px;
  width: 100%;
  max-width: 56px;
}
.container .form-wrap .search-form .btn-reset {
  width: 100%;
  max-width: 70px;
}
.container .result-wrap {
  margin-top: 350px;
}
.container .result-wrap .result-list ul {
  margin: 0;
  padding: 0;
}
.container .result-wrap .result-list ul li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  border-bottom: 1px solid #ddd;
}
.container .result-wrap .result-list ul li .thumbs {
  margin-right: 20px;
}
.container .result-wrap .result-list ul li .thumbs img {
  width: 120px;
  height: 174px;
  border: 1px solid #ccc;
}
.container .result-wrap .result-list ul li .text-wrap .info .info-head {
  display: flex;
  align-items: center;
}
.container .result-wrap .result-list ul li .text-wrap .info .info-head p {
  margin-left: 10px;
}
.container .result-wrap .result-list ul li .text-wrap .info .info-head .price span {
  text-decoration: line-through;
  margin-right: 6px;
}
.container .result-wrap .result-list ul li .text-wrap .info .publisher {
  position: relative;
  padding-left: 12px;
}
.container .result-wrap .result-list ul li .text-wrap .info .publisher::before {
  content: "";
  width: 1px;
  height: 13px;
  background: #acacac;
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
}
.container .pagination {
  display: none;
  justify-content: center;
}
.container .pagination .arrow-wrap {
  display: flex;
}
.container .pagination .arrow-wrap .paging {
  display: flex;
}
.container .pagination .arrow-wrap .paging li {
  margin: 0 10px;
}
.container .map-wrap {
  margin: 10px 0;
  display: flex;
}
.container .map-wrap #map {
  width: 100%;
  height: 400px;
}
.container .map-search .search-form {
  display: flex;
  align-items: center;
}
.container .map-search .search-form input {
  height: 36px;
}
.container .footer {
  margin-top: 40px;
  position: relative;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.container .footer .btn-wrap .btn {
  margin: 0 5px;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
